<h1>Listing mcoupons</h1>

<table>
  <tr>
    <th>Coupon</th>
    <th>Coupon code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcoupons.each do |mcoupon| %>
  <tr>
    <td><%= mcoupon.coupon_id %></td>
    <td><%= mcoupon.coupon_code %></td>
    <td><%= link_to 'Show', mcoupon %></td>
    <td><%= link_to 'Edit', edit_mcoupon_path(mcoupon) %></td>
    <td><%= link_to 'Destroy', mcoupon, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcoupon', new_mcoupon_path %>
