<h1>Listing sentiment_overides</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Sentiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sentiment_overides.each do |sentiment_overide| %>
  <tr>
    <td><%= sentiment_overide.text %></td>
    <td><%= sentiment_overide.sentiment_id %></td>
    <td><%= link_to 'Show', sentiment_overide %></td>
    <td><%= link_to 'Edit', edit_sentiment_overide_path(sentiment_overide) %></td>
    <td><%= link_to 'Destroy', sentiment_overide, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sentiment overide', new_sentiment_overide_path %>
