<h1>Listing sentiments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sentiments.each do |sentiment| %>
  <tr>
    <td><%= sentiment.name %></td>
    <td><%= sentiment.value %></td>
    <td><%= link_to 'Show', sentiment %></td>
    <td><%= link_to 'Edit', edit_sentiment_path(sentiment) %></td>
    <td><%= link_to 'Destroy', sentiment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sentiment', new_sentiment_path %>
