<%= form_for(@outgoing_message_log) do |f| %>
  <% if @outgoing_message_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outgoing_message_log.errors.count, "error") %> prohibited this outgoing_message_log from being saved:</h2>

      <ul>
      <% @outgoing_message_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :destination_mobile_number %><br />
    <%= f.text_field :destination_mobile_number %>
  </div>
  <div class="field">
    <%= f.label :message_status %><br />
    <%= f.text_field :message_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
