<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @outgoing_message_log.message %>
</p>

<p>
  <b>Destination mobile number:</b>
  <%= @outgoing_message_log.destination_mobile_number %>
</p>

<p>
  <b>Message status:</b>
  <%= @outgoing_message_log.message_status %>
</p>


<%= link_to 'Edit', edit_outgoing_message_log_path(@outgoing_message_log) %> |
<%= link_to 'Back', outgoing_message_logs_path %>
