<h1>Listing sms_lingos</h1>

<table>
  <tr>
    <th>Sms word</th>
    <th>English text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sms_lingos.each do |sms_lingo| %>
  <tr>
    <td><%= sms_lingo.sms_word %></td>
    <td><%= sms_lingo.english_text %></td>
    <td><%= link_to 'Show', sms_lingo %></td>
    <td><%= link_to 'Edit', edit_sms_lingo_path(sms_lingo) %></td>
    <td><%= link_to 'Destroy', sms_lingo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sms lingo', new_sms_lingo_path %>
